@import "_base.scss";
@import "_tools.scss";

//TO DO mixin sass IE

html,
body {
    position: relative;
    overflow-x: hidden;
}

body {
    font-family: $baseFont;
    color: rgba(0, 0, 0, 0.85);
    position: relative;

    h1,
    h2 {
        font-family: $specialFont;
    }

    h1,
    h2 {
        font-size: 18px;
        line-height: 32px;
    }

    h2 {
        text-align: left;
    }

    h3 {
        font-size: 16px;
        line-height: 28px;
    }

    .emoji {
        width: 22px;
        height: 22px;
        margin-bottom: -5px;
        margin-left: 3px;
    }

    .title {
        font-family: $specialFont;

        hr {
            width: 200vh;
            position: absolute;
            left: 0;
            right: 0;
            z-index: -1;
            height: 3px;
            border: 0;
            background-color: $lightGrey;
        }

        div {
            background-color: white;
            padding: 0 15px 0 55px;
            position: relative;
            margin-left: -15px;
            display: inline-block;

            &:before {
                display: block;
                content: ' ';
                background-image: url('../assets/svg/wave.svg');
                background-size: 22px 22px;
                height: 22px;
                width: 22px;
                position: absolute;
                left: 15px;
                z-index: 2;
            }
        }


    }

    .btn {
        text-transform: uppercase;
        padding: 10px 15px;
        border: 2px solid transparent;
        font-size: 15px;
        letter-spacing: 0.5px;
        @include transition(all 0.3s);

        &.main {
            background-color: $mainColor;
            border-color: $mainColor;
            color: white;

            svg {
                fill: white;
            }

            &:hover {
                background-color: transparent;
                color: $mainColor;

                svg {
                    fill: $mainColor;
                }
            }
        }

        &.border {
            color: black;
            border-color: black;
            background-color: white;

            &:hover {
                background-color: black;
                color: white;
                @include transition(all 0.3s);

                svg {
                    fill: white;
                }
            }
        }

    }

    #menu {
        display: flex;
        width: 100%;
        padding: 20px;

        #tabs {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 2px;

            div {
                margin-right: 30px;
                padding-bottom: 5px;
                border-bottom: 3px solid white;
                @include transition(all 0.3s);
                cursor: pointer;

                &:hover {
                    border-bottom-color: $mainColor;
                }
            }

            #logo {
                margin-left: 100px;
            }
        }
    }

    #social {
        position: absolute;
        right: 34px;
        top: 100px;

        #instagram,
        #linkedin {
            @include transition(all 0.25s);
        }

        a:hover {
            @include transition(all 0.25s);

            #instagram,
            #linkedin {
                fill: $mainColor;
            }
        }

    }

    #wrapper {
        padding: 0px 100px;
        flex-direction: column;

        section {
            width: auto;
            max-width: 1200px;
            padding-top: 50px;
            padding-bottom: 50px;

            &#hero {
                padding-top: 30px;

                #avatar {
                    position: relative;
                    font-size: 15px;
                    cursor: grab;

                    img {
                        width: 300px;
                        height: 300px;
                        margin: 10px 0;
                    }

                    &:hover {
                        #avatar1 {
                            opacity: 0;
                        }

                        #avatar2 {
                            opacity: 1;
                        }
                    }

                    #avatar1 {
                        position: relative;
                        opacity: 1;
                        @include transition(all 0.7s);

                        .pro {
                            position: relative;
                            z-index: 2;
                        }

                        .perso {
                            position: absolute;
                            top: 50px;
                            left: 30px;
                            z-index: 1;
                        }
                    }

                    #avatar2 {
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                        @include transition(all 0.7s);

                        .pro {
                            position: relative;
                            z-index: 1;
                            //HEY
                        }

                        .perso {
                            position: absolute;
                            top: 50px;
                            left: 30px;
                            z-index: 2;
                        }
                    }

                    #avatar-mobile {
                        display: none;
                    }

                }

                #skills {
                    .tag {
                        display: inline-block;
                        background-color: $lightGrey;
                        padding: 2px 15px;
                        margin: 20px 0;
                    }
                }

            }

            &#persona {
                .title {
                    div:before {
                        background-image: url("../assets/svg/gamer.svg");
                        margin-top: -2px;
                    }
                }

                .persona {
                    position: relative;

                    .illu {
                        width: 300px;
                        height: 300px;
                        padding: 50px;
                        position: absolute;
                        left: 0;
                        margin-top: -50px;
                        z-index: 2;
                        background-color: white;
                        @include box-shadow(0px, 3px, 30px, rgba(0, 0, 0, 0.05));

                        svg {
                            width: 100%;
                            height: auto;
                        }
                    }

                    .text {
                        background-color: $ultraLightGrey;
                        padding: 75px 100px 75px 230px;
                        position: relative;
                        margin-left: 150px;
                        margin-bottom: 100px;

                        .name {
                            font-size: 14px;
                            font-family: $specialFont;
                            text-transform: uppercase;
                            margin-bottom: 20px;
                            letter-spacing: 1.5px;
                        }

                        h2 {
                            text-align: left;
                        }

                        hr {
                            width: 35px;
                            border: none;
                            height: 4px;
                            background-color: $mainColor;
                            display: inline-block;
                            margin-top: 25px;
                            margin-bottom: 30px;
                        }

                        p {
                            line-height: 27px;
                        }

                        .btn {

                            position: absolute;
                            right: 100px;
                            bottom: -20px;
                            background-color: white;
                            width: fit-content;
                        }
                    }

                    &.inverse {
                        .illu{
                            left: auto;
                            right: 0;
                        }

                        .text {
                            padding: 75px 230px 75px 100px;
                            margin-right: 150px;
                            margin-left: 0;
                        }
                    }
                }
            }

            &#footer {

                .flex-third {
                    padding: 0 2%;
                }

                p {
                    font-size: 14px;
                    margin-top: 30px;
                }

                a {
                    border: 2px solid black;
                    padding: 3px 7px;
                    text-transform: uppercase;
                    @include transition(all 0.25s);

                    &:hover {
                        background-color: black;
                        color: white;
                        @include transition(all 0.25s);
                    }
                }
            }
        }
    }

}



@import "_responsive.scss"